<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="registerForm">
        <img
          class="mb-4"
          src="/assets/logo.png"
          alt=""
          width="72"
          height="57"
        />
        <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
  
        <div class="form-floating">
          <input
            formControlName="firstname"
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Adınız"
          />
          <label for="floatingInput">Adınız</label>
        </div>
        <div class="form-floating">
          <input
            formControlName="lastname"
            type="text"
            class="form-control"
            id="floatingPassword"
            placeholder="Soyadınız"
          />
          <label for="floatingPassword">Soyadınız</label>
        </div>
        <div class="form-floating">
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">E Posta</label>
          </div>
          <div class="form-floating">
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="floatingInput"
              placeholder="Şifreniz"
            />
            <label for="floatingInput">Şifreniz</label>
          </div>  
        
        <button (click)="register()" class="w-100 btn btn-lg btn-primary" >
          Kayıt Ol
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
      </form>
    </main>
  </body>
  
