<div class="content">
    <form [formGroup]="brandAddForm">
        <div class="mb-3">
            <label for="brandName">Marka Adı</label>
            <div class="form-group">
              <input
                type="text"
                id="brandName"
                formControlName="brandName"
                class="form-control"
                placeholder="Marka Adı"
              />
            </div>
          </div>
          <div class="mb-3">
            <button (click)="add()" class="btn btn-fill btn-primary">Ekle</button>
        </div>

    </form>
</div>