<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Kullanıcı Yönetimi</h5>
          <h6 class="card-subtitle mb-2 text-muted">Kullanıcılarınızı düzenleyin.</h6>
          <p class="card-text">Ekleme,silme,güncelleme gibi işlemlerinizi yapabilirsiniz.</p>
          <a href="#" class="card-link">Düzenlemek için tıklayın.</a>      
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Araç Yönetimi</h5>
          <h6 class="card-subtitle mb-2 text-muted">Araçlarınızı düzenleyin.</h6>
          <p class="card-text">Ekleme,silme,güncelleme gibi işlemlerinizi yapabilirsiniz.</p>
          <a href="#" class="card-link">Düzenlemek için tıklayın.</a>      
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Marka Yönetimi</h5>
          <h6 class="card-subtitle mb-2 text-muted">Markalarınızı düzenleyin.</h6>
          <p class="card-text">Ekleme,silme,güncelleme gibi işlemlerinizi yapabilirsiniz.</p>
          <a href="#" class="card-link">Düzenlemek için tıklayın.</a>      
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Renk Yönetimi</h5>
          <h6 class="card-subtitle mb-2 text-muted">Renklerinizi düzenleyin.</h6>
          <p class="card-text">Ekleme,silme,güncelleme gibi işlemlerinizi yapabilirsiniz.</p>
          <a href="#" class="card-link">Düzenlemek için tıklayın.</a>      
        </div>
      </div>      
      
</div>
